
.yt-btn-container > a{
    background-color: #FF0000;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px;

}


.yt-btn-container> a:hover{
    background-color: #E21717;
    transition: all 0.5s;

}

.fa-youtube{
    margin-right: 10px;
}
