.intro-container{
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.intro-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.intro > h5{
    font-size: 2rem;
    color: white;
    font-weight: 350;
    padding-left: 9px;
}

.intro > h1{
    font-size: 8rem;
    color:#FFEB3C;
    font-weight: 500;
}

.intro-social-icons-container{
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.intro-img{
    width: 400px;
    /* height: px; */
    border-radius: 500px;
}


